**/.DS_Store
**/__pycache__
**/.classpath
**/.dockerignore
**/.venv
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/*.*proj.user
**/docker-compose*
**/compose.y*ml
**/Dockerfile*
pyproject.toml 
uv.lock
LICENSE
README.md
